<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aurama.sholatyuk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.ListKotaActivity"></activity>
        <activity android:name=".view.activity.EditKhutbahActivity" />
        <activity android:name=".view.activity.LihatRangkumanKhutbahActivity" />
        <activity android:name=".view.activity.KhutbahActivity" />
        <activity android:name=".view.activity.JadwalSholatActivity" />
        <activity android:name=".view.activity.MainActivity" />
        <activity
            android:name=".view.activity.SplashActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>